--En el sistema: 
--Ajustar estadoInicial en ComandaNegocio.cs coincidente con Id existente
--Ajustar IdUsuario en Default.aspx.cs coincidente con Id de Usuario con rol (tabla RolUsuarios) de Cajero

CREATE DATABASE COCINA_DB_V515;
GO

USE [COCINA_DB_V515]
GO
/****** Object:  Table [dbo].[ComandaItemModificadores]    Script Date: 26/11/2025 17:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComandaItemModificadores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdComandaItem] [int] NOT NULL,
	[Descripcion] [varchar](50) NULL,
 CONSTRAINT [PK_ComandaItemModificadores] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComandaItems]    Script Date: 26/11/2025 17:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComandaItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdComanda] [int] NOT NULL,
	[IdProducto] [int] NULL,
	[IdCombo] [int] NULL,
	[Cantidad] [int] NOT NULL,
	[Comentario] [varchar](20) NULL,
 CONSTRAINT [PK_ComandaItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comandas]    Script Date: 26/11/2025 17:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comandas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NumeroComanda] [varchar](6) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[IdEstadoComanda] [int] NOT NULL,
	[IdUsuarioCajero] [int] NOT NULL,
 CONSTRAINT [PK_Comandas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComboDetalles]    Script Date: 26/11/2025 17:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComboDetalles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdCombo] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
 CONSTRAINT [PK_ComboDetalles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Combos]    Script Date: 26/11/2025 17:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Combos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](20) NOT NULL,
	[Descripcion] [varchar](50) NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Combos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoComandas]    Script Date: 26/11/2025 17:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoComandas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](20) NOT NULL,
	[Descripcion] [varchar](20) NULL,
 CONSTRAINT [PK_EstadoComandas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GruposProducto]    Script Date: 26/11/2025 17:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GruposProducto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingredientes]    Script Date: 26/11/2025 17:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[IdSector] [int] NOT NULL,
	[MinutosPreparacion] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductoIngredientes]    Script Date: 26/11/2025 17:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductoIngredientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdProducto] [int] NOT NULL,
	[IdIngrediente] [int] NOT NULL,
	[EsOpcional] [bit] NOT NULL,
	[Cantidad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 26/11/2025 17:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](20) NOT NULL,
	[MinutosPreparacion] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[IdSector] [int] NOT NULL,
	[IdGrupo] [int] NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolUsuarios]    Script Date: 26/11/2025 17:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolUsuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](20) NULL,
	[PaginaInicio] [varchar](100) NULL,
 CONSTRAINT [PK_RolUsuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sectores]    Script Date: 26/11/2025 17:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sectores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](20) NOT NULL,
	[Descripcion] [varchar](20) NULL,
 CONSTRAINT [PK_Sectores] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 26/11/2025 17:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [varchar](20) NOT NULL,
	[Contraseña] [varchar](20) NOT NULL,
	[Activo] [bit] NOT NULL,
	[IdRol] [int] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [COCINA_DB_V515]
GO
SET IDENTITY_INSERT [dbo].[EstadoComandas] ON 

INSERT [dbo].[EstadoComandas] ([Id], [Nombre], [Descripcion]) VALUES (5, N'En preparación', N'Orden en preparación')
INSERT [dbo].[EstadoComandas] ([Id], [Nombre], [Descripcion]) VALUES (6, N'Lista', N'Orden preparada')
SET IDENTITY_INSERT [dbo].[EstadoComandas] OFF
GO
SET IDENTITY_INSERT [dbo].[RolUsuarios] ON 

INSERT [dbo].[RolUsuarios] ([Id], [Nombre], [PaginaInicio]) VALUES (10, N'Encargado', N'Encargado.aspx')
INSERT [dbo].[RolUsuarios] ([Id], [Nombre], [PaginaInicio]) VALUES (11, N'Cajero', N'Cajero.aspx')
INSERT [dbo].[RolUsuarios] ([Id], [Nombre], [PaginaInicio]) VALUES (12, N'Cocinero', N'Cocina.aspx')
SET IDENTITY_INSERT [dbo].[RolUsuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [NombreUsuario], [Contraseña], [Activo], [IdRol]) VALUES (13, N'Juan', N'juan123', 1, 10)
INSERT [dbo].[Usuarios] ([Id], [NombreUsuario], [Contraseña], [Activo], [IdRol]) VALUES (14, N'Ana', N'ana123', 1, 11)
INSERT [dbo].[Usuarios] ([Id], [NombreUsuario], [Contraseña], [Activo], [IdRol]) VALUES (15, N'Pablo', N'pablo123', 1, 12)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[Comandas] ON 

INSERT [dbo].[Comandas] ([Id], [NumeroComanda], [FechaCreacion], [IdEstadoComanda], [IdUsuarioCajero]) VALUES (17, N'220502', CAST(N'2025-11-27T22:05:02.190' AS DateTime), 5, 14)
SET IDENTITY_INSERT [dbo].[Comandas] OFF
GO
SET IDENTITY_INSERT [dbo].[Combos] ON 

INSERT [dbo].[Combos] ([Id], [Nombre], [Descripcion], [Activo]) VALUES (29, N'Clásico', N'Hamburguesa clásica, papas chicas, bebida', 1)
SET IDENTITY_INSERT [dbo].[Combos] OFF
GO
SET IDENTITY_INSERT [dbo].[GruposProducto] ON 

INSERT [dbo].[GruposProducto] ([Id], [Nombre]) VALUES (5, N'Principal')
INSERT [dbo].[GruposProducto] ([Id], [Nombre]) VALUES (6, N'Side')
INSERT [dbo].[GruposProducto] ([Id], [Nombre]) VALUES (7, N'Bebida')
SET IDENTITY_INSERT [dbo].[GruposProducto] OFF
GO
SET IDENTITY_INSERT [dbo].[Sectores] ON 

INSERT [dbo].[Sectores] ([Id], [Nombre], [Descripcion]) VALUES (6, N'Plancha', NULL)
INSERT [dbo].[Sectores] ([Id], [Nombre], [Descripcion]) VALUES (7, N'Freidora', NULL)
INSERT [dbo].[Sectores] ([Id], [Nombre], [Descripcion]) VALUES (8, N'Armado', NULL)
SET IDENTITY_INSERT [dbo].[Sectores] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([Id], [Nombre], [MinutosPreparacion], [Activo], [IdSector], [IdGrupo]) VALUES (15, N'Hamburguesa clásica', 0, 1, 6, 5)
INSERT [dbo].[Productos] ([Id], [Nombre], [MinutosPreparacion], [Activo], [IdSector], [IdGrupo]) VALUES (16, N'Papas chicas', 0, 1, 7, 6)
INSERT [dbo].[Productos] ([Id], [Nombre], [MinutosPreparacion], [Activo], [IdSector], [IdGrupo]) VALUES (17, N'Coca-Cola original', 0, 1, 9, 7)
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
SET IDENTITY_INSERT [dbo].[ComandaItems] ON 

INSERT [dbo].[ComandaItems] ([Id], [IdComanda], [IdProducto], [IdCombo], [Cantidad], [Comentario]) VALUES (15, 17, NULL, 29, 1, N'')
INSERT [dbo].[ComandaItems] ([Id], [IdComanda], [IdProducto], [IdCombo], [Cantidad], [Comentario]) VALUES (16, 17, 15, 29, 1, N'')
INSERT [dbo].[ComandaItems] ([Id], [IdComanda], [IdProducto], [IdCombo], [Cantidad], [Comentario]) VALUES (17, 17, 16, 29, 1, N'')
SET IDENTITY_INSERT [dbo].[ComandaItems] OFF
GO
SET IDENTITY_INSERT [dbo].[ComboDetalles] ON 

INSERT [dbo].[ComboDetalles] ([Id], [IdCombo], [IdProducto], [Cantidad]) VALUES (47, 29, 15, 1)
INSERT [dbo].[ComboDetalles] ([Id], [IdCombo], [IdProducto], [Cantidad]) VALUES (48, 29, 16, 1)
INSERT [dbo].[ComboDetalles] ([Id], [IdCombo], [IdProducto], [Cantidad]) VALUES (49, 29, 17, 1)
SET IDENTITY_INSERT [dbo].[ComboDetalles] OFF
GO
SET IDENTITY_INSERT [dbo].[Ingredientes] ON 

INSERT [dbo].[Ingredientes] ([Id], [Nombre], [IdSector], [MinutosPreparacion], [Activo]) VALUES (13, N'Pan', 8, 0, 1)
INSERT [dbo].[Ingredientes] ([Id], [Nombre], [IdSector], [MinutosPreparacion], [Activo]) VALUES (14, N'Lechuga', 8, 0, 1)
INSERT [dbo].[Ingredientes] ([Id], [Nombre], [IdSector], [MinutosPreparacion], [Activo]) VALUES (15, N'Tomate', 8, 0, 1)
SET IDENTITY_INSERT [dbo].[Ingredientes] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductoIngredientes] ON 

INSERT [dbo].[ProductoIngredientes] ([Id], [IdProducto], [IdIngrediente], [EsOpcional], [Cantidad]) VALUES (121, 15, 13, 0, 1)
INSERT [dbo].[ProductoIngredientes] ([Id], [IdProducto], [IdIngrediente], [EsOpcional], [Cantidad]) VALUES (122, 15, 14, 1, 1)
INSERT [dbo].[ProductoIngredientes] ([Id], [IdProducto], [IdIngrediente], [EsOpcional], [Cantidad]) VALUES (123, 15, 15, 1, 1)
SET IDENTITY_INSERT [dbo].[ProductoIngredientes] OFF
GO

ALTER TABLE [dbo].[Ingredientes] ADD  DEFAULT ((0)) FOR [MinutosPreparacion]
GO
ALTER TABLE [dbo].[Ingredientes] ADD  DEFAULT ((0)) FOR [Activo]
GO
ALTER TABLE [dbo].[ProductoIngredientes] ADD  DEFAULT ((0)) FOR [EsOpcional]
GO
ALTER TABLE [dbo].[ComandaItemModificadores]  WITH CHECK ADD  CONSTRAINT [FK_ComandaItemModificadores_ComandaItems] FOREIGN KEY([IdComandaItem])
REFERENCES [dbo].[ComandaItems] ([Id])
GO
ALTER TABLE [dbo].[ComandaItemModificadores] CHECK CONSTRAINT [FK_ComandaItemModificadores_ComandaItems]
GO
ALTER TABLE [dbo].[ComandaItems]  WITH CHECK ADD  CONSTRAINT [FK_ComandaItems_Comandas] FOREIGN KEY([IdComanda])
REFERENCES [dbo].[Comandas] ([Id])
GO
ALTER TABLE [dbo].[ComandaItems] CHECK CONSTRAINT [FK_ComandaItems_Comandas]
GO
ALTER TABLE [dbo].[ComandaItems]  WITH CHECK ADD  CONSTRAINT [FK_ComandaItems_Combos] FOREIGN KEY([IdCombo])
REFERENCES [dbo].[Combos] ([Id])
GO
ALTER TABLE [dbo].[ComandaItems] CHECK CONSTRAINT [FK_ComandaItems_Combos]
GO
ALTER TABLE [dbo].[ComandaItems]  WITH CHECK ADD  CONSTRAINT [FK_ComandaItems_Productos] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([Id])
GO
ALTER TABLE [dbo].[ComandaItems] CHECK CONSTRAINT [FK_ComandaItems_Productos]
GO
ALTER TABLE [dbo].[Comandas]  WITH CHECK ADD  CONSTRAINT [FK_Comandas_EstadoComandas] FOREIGN KEY([IdEstadoComanda])
REFERENCES [dbo].[EstadoComandas] ([Id])
GO
ALTER TABLE [dbo].[Comandas] CHECK CONSTRAINT [FK_Comandas_EstadoComandas]
GO
ALTER TABLE [dbo].[Comandas]  WITH CHECK ADD  CONSTRAINT [FK_Comandas_Usuarios] FOREIGN KEY([IdUsuarioCajero])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Comandas] CHECK CONSTRAINT [FK_Comandas_Usuarios]
GO
ALTER TABLE [dbo].[ComboDetalles]  WITH CHECK ADD  CONSTRAINT [FK_ComboDetalles_Combos] FOREIGN KEY([IdCombo])
REFERENCES [dbo].[Combos] ([Id])
GO
ALTER TABLE [dbo].[ComboDetalles] CHECK CONSTRAINT [FK_ComboDetalles_Combos]
GO
ALTER TABLE [dbo].[ComboDetalles]  WITH CHECK ADD  CONSTRAINT [FK_ComboDetalles_Productos] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([Id])
GO
ALTER TABLE [dbo].[ComboDetalles] CHECK CONSTRAINT [FK_ComboDetalles_Productos]
GO
ALTER TABLE [dbo].[Ingredientes]  WITH CHECK ADD  CONSTRAINT [FK_Ingredientes_Sectores] FOREIGN KEY([IdSector])
REFERENCES [dbo].[Sectores] ([Id])
GO
ALTER TABLE [dbo].[Ingredientes] CHECK CONSTRAINT [FK_Ingredientes_Sectores]
GO
ALTER TABLE [dbo].[ProductoIngredientes]  WITH CHECK ADD  CONSTRAINT [FK_ProductoIngredientes_Ingredientes] FOREIGN KEY([IdIngrediente])
REFERENCES [dbo].[Ingredientes] ([Id])
GO
ALTER TABLE [dbo].[ProductoIngredientes] CHECK CONSTRAINT [FK_ProductoIngredientes_Ingredientes]
GO
ALTER TABLE [dbo].[ProductoIngredientes]  WITH CHECK ADD  CONSTRAINT [FK_ProductoIngredientes_Productos] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([Id])
GO
ALTER TABLE [dbo].[ProductoIngredientes] CHECK CONSTRAINT [FK_ProductoIngredientes_Productos]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_GruposProducto] FOREIGN KEY([IdGrupo])
REFERENCES [dbo].[GruposProducto] ([Id])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_GruposProducto]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Sectores] FOREIGN KEY([IdSector])
REFERENCES [dbo].[Sectores] ([Id])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Sectores]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_RolUsuarios] FOREIGN KEY([IdRol])
REFERENCES [dbo].[RolUsuarios] ([Id])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_RolUsuarios]
GO

